@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>We are just adding some final touches.</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <p>
            <a id="confirm-link" href="@Model.EmailConfirmationUrl">Confirm Account</a>
        </p>
    }
    else
    {
        <p>
            <!-- Placeholder for no link scenario -->
        </p>
    }
}

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            if ($('#confirm-link').length) {
                window.location.href = $('#confirm-link').attr('href');
            }
        });
    </script>
}