@model StudyWeb.Models.Source

@{
    ViewData["Title"] = "Add Source";
}

<h1>Add Source</h1>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <label asp-for="Title"> Title</label>
    <input asp-for="Title" />
    
    <label asp-for="Type" id="typeSelect"> Type</label>
    <select asp-for="Type">
        <option value="2">Video Link</option>
        <option value="4">Pdf Link</option>
        <option value="1">Video</option>
        <option value="3">Pdf</option>
        <option value="5">Image</option>
        <option value="6">Image Link</option>
    </select>
    
    
    <div id="linkInput" style="display:none;">
        <label asp-for="Link"> Link</label>
        <input asp-for="Link"/>
    </div>
    
    <div id="videoInput" style="display:none;">
        <label>Video</label>
        <input type="file" name="videoUpload" accept=".mp4" />
    </div>

    <div id="pdfInput" style="display:none;">
        <label>PDF</label>
        <input type="file" name="pdfUpload" accept=".pdf"/>
    </div>
    
    <div id="imageInput" style="display: none">
        <label>Image</label>
        <input type="file" name="imageUpload" accept=".jpg, .jpeg, .png"/>
    </div>

    
    <input type="submit" value="Add Source" class="btn btn-primary"/>

</form>

<script>
        document.addEventListener('DOMContentLoaded', function () {
            var typeSelect = document.getElementById('Type'); 
            var linkInput = document.getElementById('linkInput');
            var fileInput = document.getElementById('pdfInput');
            var videoInput = document.getElementById('videoInput');
            var imageInput = document.getElementById('imageInput');

            typeSelect.addEventListener('change', function () {
                var selectedType = this.value;

                if (selectedType === "2" || selectedType === "4" || selectedType === "6") {
                    videoInput.style.display = 'none';
                    linkInput.style.display = 'block';
                    pdfInput.style.display = 'none';
                    imageInput.style.display = 'none';
                }
                else if (selectedType === "3") {
                    videoInput.style.display = 'none';
                    fileInput.style.display = 'block';
                    linkInput.style.display = 'none';
                    imageInput.style.display = 'none';
                }else if (selectedType === "1"){
                    videoInput.style.display = 'block';
                    fileInput.style.display = 'none';
                    linkInput.style.display = 'none';
                    imageInput.style.display = 'none';
                }else if (selectedType === "5"){
                    videoInput.style.display = 'none';
                    fileInput.style.display = 'none';
                    linkInput.style.display = 'none';
                    imageInput.style.display = 'block';
                }
            });

            typeSelect.dispatchEvent(new Event('change'));
        });
</script>
