@model StudyWeb.Models.Source

@{
    ViewData["Title"] = "Add Source";
}

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <label class="form-label" asp-for="Title"> Title</label>
    <input class="form-control" asp-for="Title" />
    
    <label class="form-label" asp-for="Type" id="typeSelect"> Type</label>
    <select class="form-control" asp-for="Type">
        <option value="2">Video Link</option>
        <option value="4">Pdf Link</option>
        <option value="1">Video</option>
        <option value="3">Pdf</option>
        <option value="5">Image</option>
        <option value="6">Image Link</option>
    </select>
    
    
    <div id="linkInput" style="display:none;">
        <label asp-for="Link" class="form-label"> Link</label>
        <input asp-for="Link" class="form-control"/>
    </div>
    
    <div id="videoInput" style="display:none;">
        <label class="form-label">Video</label>
        <input type="file" class="form-control" name="videoUpload" accept=".mp4" />
    </div>

    <div id="pdfInput"  style="display:none;">
        <label class="form-label">PDF</label>
        <input class="form-control" type="file" name="pdfUpload" accept=".pdf" />
    </div>
    
    <div id="imageInput" style="display: none">
        <label class="form-label">Image</label>
        <input type="file" class="form-control" name="imageUpload" accept=".jpg, .jpeg, .png" />
    </div>

    
    <input type="submit" style="margin-top: 5px" value="Add Source" class="btn btn-primary" />

</form>
